@charset "utf-8";
/*MENUのCSS*/

/*p(セレクタ){aaa(プロパティ):aaa(値)}　　
意味としてはhtmlのうちどこの(セレクタ)何を(プロパティ):どうするか(値)を設定する*/

/*読みやすいコードのコツとしてp(){()()color:()red;}という風にスペースを入れる*/

body {
  margin: 0;/*隣あう要素との距離(余白)を設定する*記述はdiv {margin:  10px 20px 30px 40px；}
               という風に記述する。記述の順番は　上→右→下→左　時計回りで覚える*/
  padding: 0;
    　　　　/*WEBブラウザによって余白サイズの初期値が異なる事があるので、初期値の解除を行う
    　　　　　　margin: 0;　padding: 0;*/
  background-color: gray;
  color: #333333;
  font-size: 15px;
  line-height: 2;/*line-height=行間を指定*/
}

p,h1,h2,h3,h4,h5,h6 {/*複数のセレクタに同じスタイルを宣言もできる*/
  margin-top: 0;/*h要素とp要素の間にはデフォで上部にマージンが設定されているので０で解除*/
}

img {
  vertical-align:bottom;/*webブラウザによってはimg要素の下に余白ができる事があるのでbottomで調整
                        vertical-align=テキストや画像の垂直方向の位置揃えを指定*/
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #3583aa;/*通常のリンクの文字色を青に*/
  text-decoration: none;/*下線なくす*/
}

a:visited {
  color: #788d98;/*訪問後のリンクの文字色をグレーに*/
}

a:hover {
  text-decoration: underline;/*マウスを置いたら下線が表示される*/
}

header {
  color: #8D6E63;
  padding: 30px 0;
  background-color: #8D6E63;
  margin: 0 auto;
}

.logo {
  float: left;
  margin-top: 1px;
  margin-left: 50px;
  height: 5%;
  width: 5%
}

.global-nav {
  float: right;
  margin-top: 0px;
  margin-right: 50px
}

.global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 20px;
  list-style: none;
  font-family: 'Roboto Slab', serif;
}

.global-nav li a {
  color: #ffffff;
}

.global-nav li a:hover {
  border-bottom: 2px solid #ffffff; /*下線とその色を指定*/
  padding-bottom: 3px; /*下線の表示位置*/
  text-decoration: none;
}

#wrap {
  clear: both;/*回り込みの解除*/
  background-color: #ffffff;
  margin-top: 10px;
  padding: 35px 0;
}

.content {
  width: 960px;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color:#8D6E63;
}
/*検索フォームのコード*/
#form5{
position:relative;
margin-bottom:20px;
}
#sbox5{
outline:0;
height:50px;
padding:0 200px;　/*検索窓のサイズ*/
position:absolute;
left:0;
top:0;
max-width:500px;
border-radius:2px;
background:#eee;
}
#sbtn5{
width:100px;
height:50px;
position:absolute;
left:600px;
top:0;
border-radius:2px;
background:#7fbfff;
color:#fff;
font-weight:bold;
font-size:16px;
border:none;
}
#sbtn5:hover{
background:#eee;
color:#7fbfff;
}
/*検索フォーム*/

.top a {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}



h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
}

.icon:before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid #9cb4a4;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

section {
  margin-bottom: 35px;
}


.main {
  width: 1100px;
  margin: 0 10px;
  float: center;
}


.photograph-list li {
  float: left;
  list-style: none;
  margin: 0 20px 15px 0;
}

.photograph-list li:nth-child(4n) {
  margin-right: 0;
}


ul.listtest2 {
    display: table;
    width:100%;
}
ul.listtest2 > li:nth-child(2n+1) {
    clear: both;
}
ul.listtest2 > li {
    display: table-cell;
    float: left;
    width: 50%;
}



.subject {
   text-align: left;  /* 文章を左寄せする(※) */
   float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
}
.date {
   text-align: right; /* 文章を右寄せする */
}



