@CHARSET "UTF-8";
body {
	margin: 0;
	padding: 0;
	background-color:rgba(0,24,255,0.1);

	background: linear-gradient(rgba(0,24,255,0.1),dimgray);

}
em.col {color:red;}


em#lo {color:#0066FF;}

h1 {
font-size :150%;
font-weight:normal;
}




th,td {padding:0.8em 1.4em;}
table {border-collapse:collapse;}

.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2 p {
    margin: 0;
    padding: 0;
}